version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: todo_backend
    ports:
      - "8001:8000"
    volumes:
      - ./app:/app/app
      - ./tests:/app/tests
    restart: unless-stopped
